/* React App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Survey App */
.below-nav {
  padding-top: 5rem;
}

.below-nav-col {
  /* style={{marginRight:'5rem', marginLeft:'5rem', marginTop:'1rem'}; */
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}



/* 2021 PANTONE colors of the year: Aviary set */ 
.bg-skydriver {
  background-color:#00589B;
}
.bg-peacockblue {
  background-color:#00A0B0;
}
.bg-fruitdove {
  background-color:#CF5C78;
}
.bg-illuminating {
  background-color:#F5DF4D;
}
.bg-clouddancer {
  background-color:#F0EEE9;
}
.bg-ultimategray {
  background-color:#939597;
}
/*****/

.list-group-item {
  background-color: transparent;
  border: transparent;
}

.list-group-item-action:hover {
  color:white;
  text-decoration: none;
  background-color: #00A0B0;
}


